.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* header base */

  width: 1425px;
  left: 0px;
  top: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: #ffffff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Montserrat;

  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #61dafb;
}

.costContainer {
  width: 30%;
  height: 200px;
  border: 1px solild black;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
}

.dropdown {
  width: 30%;
  text-align: right;
}

.montserratFontFamily {
  font-family: "Courier New", Courier, monospace;
}

.card-container {
  width: 100%;
  display: flex;
}

.cards {
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 13px 20px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
  border-radius: 6px;
  height: 64px;
}

.active-cards {
  width: 25%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 13px 20px;
  height: 64px;
  cursor: pointer;
  border: 3px solid #007eff;
  box-sizing: border-box;
  border-radius: 6px;
}

.card-text {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 20px;
color: black;
}

.active-card-text {
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 20px;
color: #007eff;
}

.config-container {
  margin-top: 20px;
  text-align: left;
}

.mt-20 {
  margin-top: 20px;
}

.ml-30 {
  margin-left: 40px;
}

.config-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}


